.multi-day-event {
  background-color: #51459d !important;
  /* color: #fff !important;
  border-radius: 3px;
  opacity: 0.9; */
}

.fc-daygrid-day-events .multi-day-event {
  display: inline-block;
  width: 100%;
  /* height: 100%; */
  /* background-clip: padding-box; */
}
